<template>
  <div id="app">
    <table :style="style.table">
      <tbody>
      <tr>
        <td colspan="2" :style="[style.td, style.header]">
          <img src="../../static/logo.png" :style="style['header__title']"/>
        </td>
      </tr>
      <tr>
        <td :style="style['header__text-container']">
          <div v-html="heading" :style="style['header__text']"></div>
        </td>
        <td>
          <div :style="style['header__mark']">
            <img src="../../static/mark.png"/>
          </div>
        </td>
      </tr>
      <tr>
        <td class="content">
          <h1 v-html="title" :style="style['content__title']"></h1>
        </td>
      </tr>
      <tr>
        <td :style="style['content__features']" colspan="2">
          <table>
            <tr v-for="feature in features">
              <td>
                <img src="../../static/success_mark.png"/>
              </td>
              <td>
                <p v-html="feature" :style="style['content__text']"></p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
const colors = {
  magenta: '#F96D97',
  darkBlue: '#424559'
}
const style = {
  td: {
    border: 'none !important'
  },
  table: {
    border: 'none !important',
    width: '100%'
  },
  header: {
    backgroundImage: 'url(/static/background.png)',
    height: '245px',
    backgroundSize: 'cover'
  },
  'header__text-container': {
    padding: '20px 0'
  },
  'header__title': {
    marginLeft: '45px',
    marginTop: '20px'
  },
  'header__text': {
    paddingLeft: '50px',
    fontSize: '12px',
    color: colors.darkBlue,
    lineHeight: '18px',
    fontFamily: 'Roboto, sans-serif'
  },
  'header__mark': {
    marginTop: '-90px',
    paddingRight: '30px',
    height: '185px'
  },
  'content__features': {
    padding: '0 40px'
  },
  'content__text': {
    paddingLeft: '40px',
    fontFamily: 'Roboto, sans-serif',
    fontSize: '16px',
    fontWeight: '500',
    lineHeight: '24px',
    color: colors.darkBlue,
    margin: '15px 10px'
  },
  'content__title': {
    paddingLeft: '45px',
    fontFamily: 'Helvetica, sans-serif',
    fontWeight: 'bold',
    fontSize: '45px',
    marginTop: '20px',
    color: colors.magenta
  }
}
export default {
  name: 'HelloWorld',
  data() {
    return {
      features: [
        'Visit the tserkov kakogo-to svyatogo ebanogo huy znaet zachem no prikolno.',
        'Visit the tserkov kakogo-to svyatogo ebanogo huy znaet zachem no prikolno.',
        'Visit the tserkov kakogo-to svyatogo ebanogo huy znaet zachem no prikolno.',
        'Visit the tserkov kakogo-to svyatogo ebanogo huy znaet zachem no prikolno.'
      ],
      heading: 'Thanks fou using Placeplot.com <br> Want to appreciate us? Share this file to your <br> social network accounts or just tell your friends <br> about Placeplot.com',
      title: 'Paris, France',
      style
    }
  }
}
</script>
